# ignore pdfs in source
source/**/*.pdf

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.out
*.dvi

# bibliography files
*.bbl
*.bcf
*.blg
*.run.xml

# minted code output
*.pygstyle
*.pygtex

# beamer presentation files
*.snm
*.nav
*.toc
*.vrb

